@use '@/utils/toremfunc.scss';

.table {
    width: 100%;
    padding: toremfunc.toRem(10);
    box-sizing: border-box;
    text-align: center;
	
    .table_head {
        font-size: toremfunc.toRem(16);
    }

    .table_data {
        font-size: toremfunc.toRem(12);
    }
}

@media screen and (max-width: 718px) {
	.table {
		.table_head {
			font-size: toremfunc.toRem(12);
		}
		.table_data {
			font-size: toremfunc.toRem(8);
		}
	}
}

@media screen and (max-width: 550px) {
	.table {
		width: 100%;
		border-collapse: collapse;
		border-spacing: 0;
		display: block; 
		position: relative; 
		margin-left: auto;
    	margin-right: auto;
 		.table_data {
			font-size: toremfunc.toRem(12);
		}
		.table_head {
			font-size: toremfunc.toRem(12);
		}
		td { margin: 0; vertical-align: top; }
		th { text-align: left; }
		thead { display: block; float: left; }
		tbody {  width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
		th { display: block; text-align: center; }
		tbody tr { display: inline-block; vertical-align: top; }
		td { display: block; min-height: 1.25em; text-align: left;  margin:7px;}
		th { margin:7px;}
	}
}
@media screen and (max-width: 457px) {
	.table {
		.table_data {
				font-size: toremfunc.toRem(10);
			}
			.table_head {
				font-size: toremfunc.toRem(10);
			}
	}
}
@media screen and (max-width: 338px) {
	.table {
		margin-left: auto;
    	margin-right: auto;
		.table_data {
			font-size: toremfunc.toRem(8);
		}
		.table_head {
			font-size: toremfunc.toRem(8);
		}
	}
}