@use '@/utils/toremfunc.scss';

.table {
    width: 100%;
    padding: toremfunc.toRem(10);
    box-sizing: border-box;
    text-align: center;

    .table_head {
        font-size: toremfunc.toRem(16);
    }

    .table_data {
        font-size: toremfunc.toRem(12);
    }
}