//자격증 상세 페이지의 레이아웃 틀
@use '@/utils/toremfunc';

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: toremfunc.toRem(700);
    box-sizing: border-box;
    min-height: 100vh;
    margin: toremfunc.toRem(20) 0;
    align-items: center;

    .goBack {
        align-self: flex-start;
        display: flex;
        align-items: center;
        align-content: center;
        cursor: pointer;

        >div {
            width: toremfunc.toRem(30);

            svg {
                vertical-align: middle;
            }
            
        }

    }
}