//자격증 리스트 페이지
@use 'utils/toremfunc';

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: toremfunc.toRem(900);
    box-sizing: border-box;
	background-color:white;
}
#post {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
    h2 {
        font-size: 1.5em;
        font-weight: bold;
    }
}

#point_1 {
    margin-right: toremfunc.toRem(179);
    margin-left: toremfunc.toRem(60);
    user-select: none;
}

#point_2 {
    margin-left: toremfunc.toRem(155);
    margin-right: 60px;
    user-select: none;
}

#sb {
    display: flex;
    justify-content: center;
    fieldset {
        border: none;
    }
}

@media screen and (max-width: 501px) {
	#point_1 {
		margin: 0%;
		text-align: center;
	}
	#point_2 {
		margin: 0%;
		text-align:center;
	}
}



.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}
.search_box {
    width: 520px;
    height: 50px;
    border: none;
    display: flex;
    align-items: center;
    margin: auto;
	text-align:center;
	outline: 2px solid #F47874;
	border-radius: toremfunc.toRem(10);
	transition: outline 0.3s ease-in-out;
}

.search_box input {
    flex: 9; 
    height: 46px;
    padding-left: 12px;
    padding-right: 12px;
    border: none;
    outline: none;
    font-size: 18px;
}

.search_box button {
    flex: 1; 
    height: 46px;
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    background: #F47874;
    color: #ffffff;
    cursor: pointer;
	border-radius: toremfunc.toRem(10);
}

.post_list {
    list-style: none;
    margin: auto;
    padding: 0px;
    width: 70%;
    margin-top: 20px;
    /*border: 1px solid;
    border-radius: 8px;*/
}

.name {
    min-width: toremfunc.toRem(200);
    font-weight: bold;
}

.post_list li:hover {
	border:2px solid #F47874;
	border-radius: toremfunc.toRem(12);
}

.post_list li {
    padding: toremfunc.toRem(10);
    font-size: toremfunc.toRem(18);
    height: toremfunc.toRem(50);
    border-bottom: 1px solid #efefef;
}




.list {
    display: flex;
    justify-content: space-between;
    height: toremfunc.toRem(50);
    align-items: center;
    cursor: pointer;
}



.list h6 {
    text-align: right;
}

.content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-grow: 1;
    font-size: 0.67em;
    font-weight: bold;
}

.pagenation {
    padding: 0;
    margin-top: toremfunc.toRem(20);
    display: inline-block;
    display: flex;
    margin-bottom: toremfunc.toRem(40);
}

.pagenation li {
    list-style: none;
    text-align: center;
    display: inline;
	cursor: pointer;
}

.page {
    text-align: center;
    align-items: center;
    margin: auto;
}

// .pagenation a {
//     float: left;
//     display: block;
//     font-size: 14px;
//     text-decoration: none;
//     padding: 5px 12px;
//     color:black;
//     line-height: 1.5;
// }


.first:hover, .last:hover, .arrow_left:hover, .num:hover, .arrow_right:hover {
    text-decoration: underline;
}

.pagenation a:active {
    cursor: default;
    color: #fda94e;
}

.pagenation a:active {
    outline: none;
}

.num:active, .arrow_left:active, .arrow_right:active, .first:active, .last:active {
    cursor: pointer;
}

.arrow_left, .arrow_right, .first, .last {
    padding: 0;
    line-height: toremfunc.toRem(10);
    border-radius: 100%;
}

.num {
    padding: 0;
    line-height: toremfunc.toRem(10);
}

.num, .arrow_left, .arrow_right, .first, .last {
    user-select: none;
}

#footer {
    display: flex;
    padding: toremfunc.toRem(24) toremfunc.toRem(16);
    background-color:#EFEFEF;
    width: 100%;
    box-sizing: border-box;
    top: 0%;
    width: 100%;
    z-index: 100;
    justify-content: space-between;
}

#footer h5 {
    font-size: toremfunc.toRem(16);
}

#footer li {
    all:unset;
    display: flex;
    align-items: center;
    width: 100%;
    margin: toremfunc.toRem(5) toremfunc.toRem(10);
}

#footer ul {
    all:unset;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 toremfunc.toRem(100);
}

.footer_one li span {
    font-size: toremfunc.toRem(12);
    vertical-align: baseline;
}

.footer_one {
    margin-top: 0;
}

#right {
    display: flex;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: #fda94e;
}

#right_ment {
    all:unset;
    color: white;
    margin: auto;
    align-items: center;
}

@media screen and (max-width: 550px) {
	.search_box {
		width: toremfunc.toRem(320);
	}
}
@media screen and (max-width: 338px) {
	.post_list li {
		font-size:toremfunc.toRem(8);
	}
	.search_box {
		width: toremfunc.toRem(260);
	}
}

@media screen and (max-width: 316px) {
	.post_list li {
		font-size:toremfunc.toRem(6);
	}
}
@media screen and (max-width: 287px) {
	#point_1 {
		font-size:toremfunc.toRem(18);
	}
	#point_2 {
		font-size:toremfunc.toRem(18);
	}
}

@media screen and (max-width: 528px) {
	.post_list li {
		font-size: toremfunc.toRem(14);
	}
	.name {
		min-width: auto;
	}
	.content {
		flex-grow:0.1;
	}
}

@media screen and (max-width: 367px) {
	.post_list li {
		font-size:toremfunc.toRem(12);
	}
	.content {
		grid-template-columns:auto;
	}
	.search_box input {
    	padding-left: toremfunc.toRem(3);
    	padding-right: toremfunc.toRem(3);
	}
}