@use '@/utils/toremfunc';


.pagination {
    margin-top: toremfunc.toRem(30);

    .paginationList {
        display: inline-block;
        list-style-type: none;
        display: flex;
        justify-content: center;

        .container {
            display: inline-flex;
			align-items:center;
			margin:toremfunc.toRem(4);
			width:toremfunc.toRem(24);
            .index {
                display:block;
                width: toremfunc.toRem(30);
                aspect-ratio: 1;
                text-align: center;
                box-sizing: border-box;
                //background-color: #efefef;
				
				cursor:pointer;
				user-select:none;
            }
            input {
                &:checked + .index {
                    background-color: #F47874;
                    color: white;
					border-radius:toremfunc.toRem(12);
                }
            }
        }
        
    }
}