@use '@/utils/toremfunc';

.container {
    padding: toremfunc.toRem(12);
    .lectureList {
        position: relative;
        box-sizing: border-box;
        border-bottom: 1px solid gray;
        /*border-radius: toremfunc.toRem(10);*/
        padding: toremfunc.toRem(10);

        .lectureList--lecture, .lectureList--teacher {
            display: block;
        }
        .lectureList--lecture {
            font-size: toremfunc.toRem(25);
        }
        .lectureList--teacher {
            font-size: toremfunc.toRem(13);
            font-style: italic;
        }
    }
}

@media screen and (max-width: 640px) {
	.container {
		.lectureList {
			.lectureList--lecture {
				font-size:toremfunc.toRem(18);
			}
			.lectureList--teacher {
				font-size:toremfunc.toRem(6);
			}
		}
	}
}

@media screen and (max-width: 550px) {
	.container {
		.lectureList {
			.lectureList--lecture {
				font-size:toremfunc.toRem(12);
			}
			.lectureList--teacher {
				font-size:toremfunc.toRem(4);
			}
		}
	}
}
