@use '@/utils/toremfunc';

@keyframes contentAppear {
    0% {
        transform: translateY(toremfunc.toRem(30));
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

.univ_detail {
    font-family: '--main-kr';
    width: 100%;
    position: relative;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;

    .scheduleTable {
        box-sizing: border-box;
        width: 100%;
        text-align: center;
        padding: toremfunc.toRem(10);
        //border-collapse: collapse;
        position: relative;
        margin-bottom: toremfunc.toRem(50);
        animation: contentAppear 0.5s ease-in-out;
        animation-fill-mode: backwards;
        th, td {
            border: 2px solid #F6F6F6;
            border-right: none;
            border-left: none;
            padding: toremfunc.toRem(20) toremfunc.toRem(5);
        }
		box-shadow: toremfunc.toRem(4) toremfunc.toRem(12) toremfunc.toRem(30) toremfunc.toRem(6) rgb(0 0 0 / 10%);
		border-radius: toremfunc.toRem(8);
		background:white;
}

    .lectureListContainer {
        animation: contentAppear 0.5s ease-in-out 0.5s;
        animation-fill-mode: backwards;
		box-shadow: toremfunc.toRem(4) toremfunc.toRem(12) toremfunc.toRem(30) toremfunc.toRem(6) rgb(0 0 0 / 10%);
		border-radius:toremfunc.toRem(8);
		background:white;
        h3 {
            font-size: toremfunc.toRem(20);
            text-align: center;
        }
        width: 100%;
        .lectureList {
            all: unset;
            width: 100%;
            position: relative;
            box-sizing: border-box;
            list-style: none;
            padding: toremfunc.toRem(10);

    
            .lecture {
                width: 100%;
                position: relative;
                box-sizing: inherit;
                

                .commentListContainer {
                    width: 100%;
                    position: relative;
                    transition: grid-template-rows 0.3s ease-in-out;
                    display: grid;
                    box-sizing: border-box;
                    background: #ebeeff91;
                }

                .hideCommentList {
                    grid-template-rows: 0fr;
                }

                .showCommentList {
                    grid-template-rows: 1fr;
                }
                
    
                .container {
                    padding: toremfunc.toRem(10);
                    border-bottom: 2px solid #F6F6F6;
                     transition: background-color 0.3s ease-in-out;
                     box-sizing: inherit;
                     &:hover {
                     cursor: pointer;
                     background-color: #F6F6F6;
                }
                    .lecture_title {
                        font-size: toremfunc.toRem(18);
                        font-weight: 600;
                        margin-bottom: toremfunc.toRem(7);
                        
                    }
        
                    .lecture_info {
                        display: flex;
        
                        .lecture_info--text {
                            flex-grow: 1;
                        }
                    }
                }
                
            }
        }
    }
   
}

@media screen and (max-width: 553px) {
	.labelstarbox {
		font-size:toremfunc.toRem(16);
	}
	.univ_detail {
		.scheduleTable {
			width: 100%;
			border-collapse: collapse;
			border-spacing: 0;
			display: block; 
			position: relative; 
			margin-left: auto;
    		margin-right: auto;
			td { margin: 0; vertical-align: top; }
			th { text-align: left; }
			thead { display: block; float: left; }
			tbody {  width: auto; position: relative; overflow-x: auto; white-space: nowrap; }
			th { display: block; text-align: center; }
			tbody tr { display: inline-block; vertical-align: top; }
			td { display: block; min-height: 1.25em; text-align: left; margin:5px;}
			th {  margin:5px;}
		}
	
	.lectureListContainer {
		h3 {
			font-size: toremfunc.toRem(16);
		}
		.lectureList {
			.lecture {
				.container {
					.lecture_title {
						font-size: toremfunc.toRem(16);
					}
					.lecture_info {
						.lecture_info--text {
							font-size: toremfunc.toRem(14);
						}
					}
				}
			}
		}
	}
}
}

@media screen and (max-width: 367px) {
	.univ_detail {
		.scheduleTable {
			font-size:toremfunc.toRem(12);
		}
	}
}
@media screen and (max-width: 293px) {
	.univ_detail {
		.scheduleTable {
			font-size:toremfunc.toRem(11);
		}
	}
}