@use './utils/toremfunc';

.univ_list {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    // display: flex;
    // flex-flow: row wrap;
    // justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: toremfunc.toRem(50) 0;
    transition: opacity 0.5s ease-in-out;
	background:white;
	border-radius:toremfunc.toRem(8);
	box-shadow: toremfunc.toRem(4) toremfunc.toRem(12) toremfunc.toRem(30) toremfunc.toRem(6) rgb(0 0 0 / 10%);
}

.univ_list--transition {
    opacity: 0;
}

.univ_list--nodisplay {
    display: none;
}

.univ {
    //min-width: toremfunc.toRem(200);
    width: 100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    //margin-right: auto;
    padding: toremfunc.toRem(10);
    user-select: none;
    &:hover {
        cursor: pointer;
    }


    .univ_logo {
        position: relative;
        width: toremfunc.toRem(40);
        box-sizing: border-box;
       	min-height: auto;
    }

    .univ_name {
        margin-left: toremfunc.toRem(10);
    }
}
@media screen and (max-width: 710px) {
	.univ {
			padding: toremfunc.toRem(8);
			font-size: toremfunc.toRem(14);
		.univ_logo {
			width: toremfunc.toRem(30);
			}
		.univ_name {
			margin-left: toremfunc.toRem(8);
		}
		}	
	}
@media screen and (max-width: 618px) {
	.univ {
		padding: toremfunc.toRem(6) 0;
		font-size: toremfunc.toRem(12);
	}
}
@media screen and (max-width: 530px) {
	.univ {
		font-size: toremfunc.toRem(16);
		padding: toremfunc.toRem(5) 0;
		.univ_logo {
			width: toremfunc.toRem(40);
			}
		.univ_name {
			margin-left: toremfunc.toRem(6);
		}
		}	
	.univ_list {
		grid-template-columns: 1fr 1fr;
	}
}
@media screen and (max-width: 430px) {
	.univ {
		font-size: toremfunc.toRem(14);
		.univ_logo {
			width: toremfunc.toRem(30);
		}
		.univ_name {
			margin-left: toremfunc.toRem(4);
		}
	}
}
@media screen and (max-width: 300px) {
	.univ {
		font-size: toremfunc.toRem(12);
		.univ_logo {
			width: toremfunc.toRem(26);
		}
		.univ_name {
			margin-left: toremfunc.toRem(3);
		}
	}
}