@use '@/utils/toremfunc';

.birth_select {
    flex-grow: 1;
    cursor: pointer;
    
    .curSelect {
        padding: toremfunc.toRem(5) 0;
        span {
            display: block;
            width: 100%;
            text-align: center;
            font-weight: bold;
        }
    }
    
    .listContainer {
        position: relative;
        display: block;
        max-height: toremfunc.toRem(200);
        overflow: scroll;
        box-sizing: border-box;
        &::-webkit-scrollbar {
            display: none;
            
        }
    }
}