@use '@/utils/toremfunc';


.container {
    width: 100%;
    box-sizing: inherit;
    display: flex;
    justify-content: center;
}


.genderSelect {
    width: 100%;
    box-sizing: border-box;
    

    input + .gender {
        display: block;
        width: toremfunc.toRem(100);
        text-align: center;
        padding: toremfunc.toRem(10);
        background-color: gray; 
        border-radius: 1em;
        color: white;
        cursor: pointer;
        margin: 0 toremfunc.toRem(10);
        box-sizing: border-box;
        border: 2px solid gray;
    }

    input {
        &:checked + .gender {
            border: 2px solid rgb(255, 142, 36);
            background-color: white;
            color: black;
        }
    }

        
    
}
@media screen and (max-width: 500px) {
	.genderSelect {
		input + .gender {
			width: toremfunc.toRem(50);
		}
	}
}