@use '@/utils/toremfunc';


.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.main_img {
    position: relative;
	.cert_img {
		width:toremfunc.toRem(420);
	}
}
.sub_img {
    position: absolute;
    top:toremfunc.toRem(150);
    right: toremfunc.toRem(100);
	.cert_sub_img {
		width:toremfunc.toRem(420);
		
	}
}

.item_ment_one {
    margin: auto;
    text-align: center;
    font-size: toremfunc.toRem(22);
}

.main_ment {
    width: 100%;
    padding: toremfunc.toRem(200) 0 toremfunc.toRem(300) 0;
    text-align: center;
    line-height: 2;
    display: flex;
    flex-direction: column;
}
.landingimg {
	width:toremfunc.toRem(400);
	position:absolute;
	top:toremfunc.toRem(350);
	left:toremfunc.toRem(50);
}
.milidu_info {
    font-size: toremfunc.toRem(52);
    font-weight: 900;
    /*text-shadow: 4px 6px 18px #F67F72*/
}
.item_box_two {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: white;
	padding:toremfunc.toRem(20) 0;
}

.item_box {
    display: flex;
    width: 100%;
    justify-content: center;
    background-color: #f9fafb;
	padding:toremfunc.toRem(20) 0;
}
.cert_item {
    padding: 0 toremfunc.toRem(60);
}

.ment_part {
    font-weight: 800;
    font-size: toremfunc.toRem(32);
    line-height: 1.8;
    padding: toremfunc.toRem(50) 0;
}
.button {
    cursor: pointer;
    font-size:toremfunc.toRem(16);
    padding: toremfunc.toRem(8);
    border-radius: toremfunc.toRem(42);
    border:2px solid #fda94e;
    background-color: transparent;
    font-weight: 600;
}
.button_div :hover {
    background: #fda94e;
    color: white;
    transition: all 0.2s ease-in-out;
}
.button_div {
    display: flex;
    justify-content: center;
    padding: toremfunc.toRem(80) 0;
}
.cert_img {
    padding: toremfunc.toRem(50) 0;
}
.univ_img {
    padding: toremfunc.toRem(50) 0;
}
.menu {
	width:toremfunc.toRem(40);
	display:flex;
}

.menubar {
	display:inline-flex;
	padding:toremfunc.toRem(2) toremfunc.toRem(4);
	margin:toremfunc.toRem(20);
	border:1px solid #ff8e24;
	border-radius:toremfunc.toRem(14);
	background-color:#ff8e24;
	color:white;
}
.menu_name {
	font-size:toremfunc.toRem(22);
	margin:auto 0;
	font-weight:600;
	
}


@media screen and (max-width: 999px) {
    .main_ment {
        padding: toremfunc.toRem(100) 0 toremfunc.toRem(150) 0;
        line-height: 1.4;
    }
    .milidu_info {
        font-size: toremfunc.toRem(26);
        font-weight: 700;
    }
	.landingimg {
		width:toremfunc.toRem(240);
		top:toremfunc.toRem(150);
		left:toremfunc.toRem(0);
	}
	.ment_part {
		font-weight: 700;
    	font-size: toremfunc.toRem(20);
		line-height: 1.4;
    	padding: toremfunc.toRem(10) 0;
	}
	.button_div {
		padding:toremfunc.toRem(40) 0;
	}
	.main_img {
		.cert_img {
			width:toremfunc.toRem(300);
		}
		.univ_img {
			width:toremfunc.toRem(300);
		}
	}
	.sub_img {
    	top:toremfunc.toRem(80);
    	right: toremfunc.toRem(80);
		.cert_sub_img {
			width:toremfunc.toRem(250);
		}
		.univ_sub_img {
			width:toremfunc.toRem(250);
			display:none;
		}
	}
	.cert_item {
    	padding: 0 toremfunc.toRem(30);
	}
	.menu {
		width:toremfunc.toRem(26);
	}
	.menu_name {
		font-size:toremfunc.toRem(18);
	}
}
@media screen and (max-width: 768px) {
	.landingimg {
		top:toremfunc.toRem(250);
		width:toremfunc.toRem(220);
	}
}
@media screen and (max-width: 588px) {
	.menubar {
		margin:0;
	}
    .main_ment {
        line-height: 1.4;
    }
    .milidu_info {
        font-size: toremfunc.toRem(22);
        font-weight: 700;
    }
	.landingimg {
		width:toremfunc.toRem(180);
		top:toremfunc.toRem(280);
	}
	.ment_part {
    	font-size: toremfunc.toRem(16);
	}
	.button_div {
		padding:toremfunc.toRem(20) 0;
	}
	.main_img {
		.cert_img {
			width:toremfunc.toRem(250);
		}
		.univ_img {
			width:toremfunc.toRem(250);
		}
	}
	.sub_img {
		.cert_sub_img {
			display:none;
		}
	}
	.cert_item {
    	padding: 0 toremfunc.toRem(15);
	}
	.menu {
		width:toremfunc.toRem(20);
	}
	.menu_name {
		font-size:toremfunc.toRem(15);
	}
}
@media screen and (max-width: 437px) {
    .main_ment {
        line-height: 1.2;
    }
    .milidu_info {
        font-size: toremfunc.toRem(20);
        font-weight: 700;
    }
	.landingimg {
		width:toremfunc.toRem(160);
		top:toremfunc.toRem(280);
	}
	.ment_part {
    	font-size: toremfunc.toRem(14);
	}
	.button_div {
		padding:toremfunc.toRem(10) 0;
	}
	.main_img {
		.cert_img {
			width:toremfunc.toRem(200);
		}
		.univ_img {
			width:toremfunc.toRem(200);
		}
	}
	.sub_img {
		.cert_sub_img {
			display:none;
		}
	}
	.cert_item {
    	padding: 0 toremfunc.toRem(15);
	}
	.menu {
		width:toremfunc.toRem(20);
	}
	.menu_name {
		font-size:toremfunc.toRem(15);
	}
	.button {
		font-size:toremfunc.toRem(14);
		padding: toremfunc.toRem(6);
	}
}

@media screen and (max-width: 377px) {
    .main_ment {
        line-height: 1.2;
    }
    .milidu_info {
        font-size: toremfunc.toRem(18);
        font-weight: 700;
    }
	.landingimg {
		width:toremfunc.toRem(150);
		top:toremfunc.toRem(260);
	}
	.ment_part {
    	font-size: toremfunc.toRem(12);
	}
	.button_div {
		padding:toremfunc.toRem(8) 0;
	}
	.main_img {
		.cert_img {
			width:toremfunc.toRem(160);
		}
		.univ_img {
			width:toremfunc.toRem(160);
		}
	}
	.cert_item {
    	padding: 0 toremfunc.toRem(10);
	}
	.menu {
		width:toremfunc.toRem(16);
	}
	.menu_name {
		font-size:toremfunc.toRem(12);
	}
	.button {
		font-size:toremfunc.toRem(12);
		padding: toremfunc.toRem(4);
	}
}
@media screen and (max-width: 310px) {
    .main_ment {
        line-height: 1.2;
    }
    .milidu_info {
        font-size: toremfunc.toRem(16);
        font-weight: 700;
    }
	.landingimg {
		width:toremfunc.toRem(140);
		top:toremfunc.toRem(270);
	}
	.ment_part {
    	font-size: toremfunc.toRem(11);
	}
	.button_div {
		padding:toremfunc.toRem(6) 0;
	}
	.main_img {
		.cert_img {
			width:toremfunc.toRem(140);
		}
		.univ_img {
			width:toremfunc.toRem(140);
		}
	}
	.cert_item {
    	padding: 0 toremfunc.toRem(8);
	}
	.menu {
		width:toremfunc.toRem(12);
	
	}
	.menu_name {
		font-size:toremfunc.toRem(8);
	}
	.button {
		font-size:toremfunc.toRem(10);
		padding: toremfunc.toRem(2);
	}
}
@media screen and (max-width: 339px) {
    .main_ment {
        line-height: 1.2;
    }
    .milidu_info {
        font-size: toremfunc.toRem(16);
        font-weight: 700;
    }
	.landingimg {
		width:toremfunc.toRem(140);
		bottom:toremfunc.toRem(440);
	}
	.ment_part {
    	font-size: toremfunc.toRem(11);
	}
	.button_div {
		padding:toremfunc.toRem(6) 0;
	}
	.main_img {
		.cert_img {
			width:toremfunc.toRem(140);
		}
		.univ_img {
			width:toremfunc.toRem(140);
		}
	}
	.cert_item {
    	padding: 0 toremfunc.toRem(8);
	}
	.menu {
		width:toremfunc.toRem(12);
	
	}
	.menu_name {
		font-size:toremfunc.toRem(8);
	}
	.button {
		font-size:toremfunc.toRem(10);
		padding: toremfunc.toRem(2);
	}
}