@font-face {
    font-family: '--main-kr';
    src: url('/public/fonts/NotoSansKR-Regular.otf');
    font-weight: 400;
}

@font-face {
    font-family: '--main-kr';
    src: url('/public/fonts/NotoSansKR-Light.otf');
    font-weight: 200;
}

@font-face {
    font-family: '--main-kr';
    src: url('/public/fonts/NotoSansKR-Bold.otf');
    font-weight: 600;
}


body {
    padding: 0;
    margin: 0;
    font-family: '--main-kr'
}

body::-webkit-scrollbar {
    display: none;
}

h1,h2,h3,h4,h5,h6,mark, figure {
    all: unset;
    display: block;
}