@use 'utils/toremfunc';

        .register {
            width: 100%;
            display: flex;
            justify-content: space-around;
            box-sizing: border-box;
            align-items: center;

            
        }
    
