@use './utils/toremfunc';

.wrapper {
    width: 100%;
    max-width: toremfunc.toRem(700);
    .univ_search {
        width: 100%;
        position: relative;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: toremfunc.toRem(10);
    
        .searchBox {
            margin: toremfunc.toRem(10) 0;
        }
    
    
        .searchBox {
            width: 70%;
            max-width: toremfunc.toRem(500);
            height: toremfunc.toRem(30);
            outline: 2px solid skyblue;
            border: none;
            box-sizing: border-box;
            border-radius: toremfunc.toRem(10);
            transition: outline 0.3s ease-in-out;
            &::placeholder {
                opacity: 0.4;
            }
    
            &:focus-visible {
                outline: 2px solid royalblue;
            }
        }

        

    }
}

