@use '@/utils/toremfunc';

.button {
    padding: toremfunc.toRem(10);
    cursor: pointer;
    background-color: gray;
    color: white;
    border: 2px solid gray;
    border-radius: 1em;
    &:hover {
        color: black;
        background-color: white;
        border: 2px solid rgb(255, 142, 36);
    }
}
@media screen and (max-width: 500px) {
	.button {
		font-size: toremfunc.toRem(13);
		padding: toremfunc.toRem(5);
		}
}

.register_bt {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    &::after {
        content: "";
        box-sizing: border-box;
        width: 0;
        height: 0;
        opacity: 0;
        border: 1px solid gray;
        transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }
    &:hover {
        &::after {
            width: 100%;
            opacity: 1;
        }
    }
}

@media screen and (max-width: 500px) {
	.register_bt {
		font-size: toremfunc.toRem(13);
		padding: toremfunc.toRem(5);
		}
}