/* header start */
@use 'utils/toremfunc';

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: toremfunc.toRem(24) toremfunc.toRem(16);
    background-color:white;
    box-sizing: border-box;
    width: 100%;
    font-weight: 400;
	
    input {
        all: unset;
    }

    input[type="radio"] {
        &:checked + label {
            background: #fda94e;
            color: white;
            transition: all 0.5s ease-in-out;
        }
        
    }
    
    label {
        cursor: pointer;
        width: 100%;
        padding:toremfunc.toRem(4) toremfunc.toRem(8);
        box-sizing: border-box;
        display: block;
        user-select: none;
        transition:0.5s ease-in-out;   
    }

    #logo_image {
        width: toremfunc.toRem(90);
        flex-grow: 0;
        display: inline-block;
        margin-left: toremfunc.toRem(10);
    }
    
    .navbar_logo {
        font-size: toremfunc.toRem(30);
        cursor: pointer;
        user-select: none;
        display: flex;
        align-items: center;

        svg {
            width: toremfunc.toRem(40);
        }
    }
    
    .navbar_menu {
        display: flex;
        list-style: none;
        padding-left: 0;
        margin-right: auto;
        margin-left: toremfunc.toRem(60);
    }
	
	.navbar_menu li {
        cursor: pointer;
        border-radius: toremfunc.toRem(6);
        overflow: hidden;
        &:hover {
               background-color: #fda94e;
               color: white;
        }
        &:has(input:checked) {
            background-color: #fda94e;
            color: white;
        }
	}
    

    
    
}

#login {
    border-right: 1px solid gray;
}


@media screen and (max-width: 339px) {
	.navbar {
		font-size: toremfunc.toRem(12);
	}
}


@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: toremfunc.toRem(8) toremfunc.toRem(24);
		margin: 0%;
		width: 100%;
		
    .navbar_menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-left: 0%;
	
    }

    .navbar_menu li {
        width: 100%;
        text-align: center;
    }

    
}
}

/* header end */
